crewai
crewai-tools
python-dotenv
pytube
youtube-transcript-api
openai
fpdf2
Flask
pytest
pytest-mock
requests-mock
pytest-flask
mock
Flask-Session
uuid
openlit
Werkzeug
reportlab 
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-flask
prometheus_client
gunicorn
browser-cookie3
beautifulsoup4
lxml
Flask-JWT-Extended
pymongo
bcrypt